.logo{
  width: 250px;
  margin: 1%;
  grid-area: x;
}
header{
  display: grid;
  grid-template-columns: 20% 10% 15% 15% 15% 15% 15%;
  grid-template-areas: 
  "x y z z z e i";
  align-items: center;
}
.searchBar{
  grid-area: z;
  width: 100%;
  height: 50%;
  border-radius: 15px;
}
.searchButton{
  grid-area: e;
  width: 25%;
  margin: 4%;
  border-radius: 10px;
  background-color: transparent;
  border: transparent;
}
.imgSearchButton{
  width: 100%;
}
.shoppingCartButton{
  grid-area: i;
  width: 30%;
  margin: 4%;
  border-radius: 10px;
  background-color: transparent;
  border: transparent;
  
}
.imgShoppingCartButton{
  width: 100%;
}
.menuButtonMobile{
  display: none;
}
  @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  header{
    justify-items: center;
    grid-template-columns: 30% 0% 0% 0% 25% 25% 25%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "x y z z o e i"
    "t t t t t t t";
  }
  .searchBar{
    display: none;
    grid-area: t;
    padding: 5% 0%;
    width: 90%;
  }
  .logo{
    width: 120px;
  }
  .imgSearchButton{
    width: 110%;
    grid-area: o;
  }
  .searchButton{
    grid-area: o;
    margin: 0%;
    padding: 0%;
  }
  .menuButtonMobile{
    display: block;
    width: 50%;
    grid-area: i;
    background: transparent;
    border: transparent;
  }
  .imgMenuButtonMobile{
    width: 100%;
    grid-area: i;
  }
  .shoppingCartButton{
    grid-area: e;
    width: 45%;
  }
}