.logo{
    width: 250px;
    margin: 1%;
    grid-area: x;
  }
  header{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-areas: 
    "x y z z o e i";
    align-items: center;
  }
  .searchBar{
    grid-area: z;
    width: 100%;
    height: 50%;
    border-radius: 15px;
  }
  .searchButton{
    grid-area: o;
    width: 20%;
    margin: 4%;
    border-radius: 10px;
    background-color: transparent;
    border: transparent;
  }
  .imgSearchButton{
    width: 50%;
  }